.listBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    background-color: #ffeffb;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.margin {
    margin-left: 10px;
}
.flexStart {
    display: flex;
    justify-content: start;
    align-items: center;
}
.username {
    font-size: 20px;
    font-weight: bold;
}