.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #141414;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
}

.profileImageContainer {
    position: relative; /* 컨테이너를 기준으로 아이콘 위치 설정 */
    display: inline-block; /* 이미지 크기에 맞추어 컨테이너 크기를 조정 */
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.uploadButton {
    position: absolute;
    bottom: 5px; /* 이미지 하단과 간격 조정 */
    left: 5px; /* 이미지 왼쪽과 간격 조정 */
    cursor: pointer;
    background-color: gray;
    padding: 5px;
    border-radius: 50%;
}

.hiddenFileInput {
    display: none;
}

.profileImage.editIcon {
    font-size: 24px;
    color: white;
    background-color: gray;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.nameInput {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.saveButton, .deleteButton, .cancelButton {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.saveButton {
    background-color: #e50914;
    color: white;
}

.deleteButton {
    background-color: #333;
    color: white;
}

.cancelButton {
    background-color: #333;
    color: white;
}
